<!-- views/sections/permits.ejs -->

<%- include('../includes/head.ejs') %>

<%- include('../includes/head.ejs') %>

<body>
    <!-- Navigation Bar -->
    <%- include('../includes/navbar.ejs') %>

    <!-- Page Content -->
    <section>
        <div class="container mt-5 px-0 pt-3">
            <div class="card p-3">
                <h3>PERMITS</h3>
                <div class="row">
                    <div class="col-6">
                        <div class="card" style="height: 100%;">
                            <img src="/images/tsd_certificate.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">TSD REGISTRATION CERTIFICATE</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="height: 100%;">
                            <img src="/images/transporter_certificate.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">HW TRANSPORTER REGISTRATION CERTIFICATE</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card" style="height: 100%;">
                            <img src="/images/ecc_certificate.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">ENVIRONMENT COMPLIANCE CERTIFICATE</h5>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>
    <script>
        // Your JavaScript code goes here
    </script>
    <%- include('../includes/scripts.ejs') %>
</body>
</html>
